<h1>Update Password</h1>

<form action="/passwords/<%=@password.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">


  <label>Choose a password type:</label><br />
  <%@password_types.each do |password|%>
    <input type="radio" name="type" value="<%=password.account_type%>" id="account_type"<%='checked' if @password.account_type == password.account_type %>><%=password.account_type%></input><br />
  <%end%>
  <label>Or add a new account type:</label><input type="text" name="account_type"></br>
  <br></br>

  <label>Choose a safe:</label><br />
  <%@password_safe.each do |password|%>
    <input type="radio" name="account_name" value="<%=password.account.name%>" id="account_name"<%='checked' if @password.account_id == password.account_id %>><%=password.account.name%></input><br />
  <%end%>
  <label>Or add a New Account:</label><input type="text" name="account"></br>
  <br></br>

  <label>Password:</label>
  <input type="text" name="value" id="value" value="<%=@password.value%>"><br />
  <label>Price:</label>
  <input type="text" name="type" id="type" value="<%=@password.type%>"><br />

  <input type="submit" value="Edit Password">
</form>
<br><br />
<a href="/owners/password_safe">Return to your Password Safe</a><br />