<h3>Virtual Password Safe-Your Collection of Passwords</h3>

<ul>
  <%@passwords.each do |password|%>
    <li><a href="/passwords/<%="#{password.id}"%>"><%=Account.find(password.account_id).name%>: <%=password.account_type%>  <%=password.value%> - $<%=sprintf('%.2f', password.username)%></a></li>
  <%end%>
</ul>
<br />

<a href="/owners/password_safe">Return to your Password Safe</a><br />