<h3>Password</h3>

p><%= %><%= @password.content %>

<form method="post" action="/passswords/<%=@password.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Password">
  <input type="button" onclick="window.location.href = '/passwords/<%=@password.id%>/edit';" value="Edit Password"/>
</form>

<!-- <a href="/passwords/<%=@password.id%>/edit">Edit Password </a> <br><br> -->

<a href="/passwords">Back to your passwords</a>